<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channels</key>
	<array>
		<dict>
			<key>abbr_en</key>
			<string>My</string>
			<key>channel_id</key>
			<integer>0</integer>
			<key>name</key>
			<string>私人兆赫</string>
			<key>name_en</key>
			<string>Personal Radio</string>
			<key>seq_id</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>1</string>
			<key>name</key>
			<string>华语</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>2</string>
			<key>name</key>
			<string>欧美</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>3</string>
			<key>name</key>
			<string>七零</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>4</string>
			<key>name</key>
			<string>八零</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>5</string>
			<key>name</key>
			<string>九零</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>6</string>
			<key>name</key>
			<string>粤语</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>7</string>
			<key>name</key>
			<string>摇滚</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>8</string>
			<key>name</key>
			<string>民谣</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>9</string>
			<key>name</key>
			<string>轻音乐</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>10</string>
			<key>name</key>
			<string>原声</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>13</string>
			<key>name</key>
			<string>爵士</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>14</string>
			<key>name</key>
			<string>电子</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>15</string>
			<key>name</key>
			<string>说唱</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>16</string>
			<key>name</key>
			<string>R&amp;B </string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>17</string>
			<key>name</key>
			<string>日语</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>18</string>
			<key>name</key>
			<string>韩语</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>20</string>
			<key>name</key>
			<string>女声</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>22</string>
			<key>name</key>
			<string>法语</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>27</string>
			<key>name</key>
			<string>古典</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>28</string>
			<key>name</key>
			<string>动漫</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>32</string>
			<key>name</key>
			<string>咖啡馆</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>170</string>
			<key>name</key>
			<string>圣诞</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>199</string>
			<key>name</key>
			<string>Sonos 乐满人家</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>22</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>179</string>
			<key>name</key>
			<string>豆瓣好歌曲</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>187</string>
			<key>name</key>
			<string>世界音乐</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>188</string>
			<key>name</key>
			<string>布鲁斯</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>61</string>
			<key>name</key>
			<string>新歌</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>26</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>190</string>
			<key>name</key>
			<string>雷鬼</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>195</string>
			<key>name</key>
			<string>兰蔻生而年轻</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>196</string>
			<key>name</key>
			<string>新青年</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>201</string>
			<key>name</key>
			<string>世界杯</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>202</string>
			<key>name</key>
			<string>甲壳虫音乐</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>31</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>76</string>
			<key>name</key>
			<string>小清新</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>77</string>
			<key>name</key>
			<string>Easy </string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>78</string>
			<key>name</key>
			<string>91.1 </string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>210</string>
			<key>name</key>
			<string>I AM BREAKER</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>212</string>
			<key>name</key>
			<string>新嘉年华夜冲</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>214</string>
			<key>name</key>
			<string>世界等我出发</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>145</string>
			<key>name</key>
			<string>“砖”属音乐</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>38</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>194</string>
			<key>name</key>
			<string>Pop</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>abbr_en</key>
			<string></string>
			<key>channel_id</key>
			<string>189</string>
			<key>name</key>
			<string>拉丁</string>
			<key>name_en</key>
			<string></string>
			<key>seq_id</key>
			<integer>40</integer>
		</dict>
	</array>
</dict>
</plist>
